$ git status
[...]
#Untracked Files:
[...]
/SQL Queries/end_uses/End Use/in.sql
/SQL Queries/end_uses/Comparison/baseline.sql
/SQL Queries/end_uses/Comparison/proposed.sql
/SQL Queries/space_type_breakdown/in.sql